html {
  font-size: 10px;
}

body {
  font-family: Georgia;
  width: 100vw;
  overflow-x: hidden;
}

.header {
  width: 100vw;
  position: absolute;
  top: 60px;
}

@media (max-width: 768px) {
  .header {
    top: 0;
  }
}

@media (max-width: 320px) {
  .header {
    top: 30px;
  }
}

.header__content {
  width: 100%;
  min-height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 320px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.2rem;
  color: #F1CDB3;
}

.header__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
  color: #FFFFFF;
  margin-top: 1rem;
  text-align: center;
}

.header__menu {
  width: 44.3rem;
}

@media all and (max-width: 767px) {
  .header__menu {
    visibility: hidden;
    display: none;
    opacity: 1;
  }
}

@media (max-width: 320px) {
  .header__menu {
    width: 26px;
    margin: 1.7rem 4.4rem 0 0;
  }
}

.list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list__item .list__link {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

.list__item-selected {
  border-bottom: 3px solid #F1CDB3;
}

.list__item-selected .list__link, .list__item-selected .burger__link {
  color: #FAFAFA;
}

.list__item:hover .list__link, .list__item:hover .burger__link {
  color: #FAFAFA;
}

.header__burger {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 5.3rem;
  top: 1.6rem;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__burger-icon {
  pointer-events: none;
}

@media all and (max-width: 767px) {
  .header__burger {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
}

.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.logo-burger-opened {
  z-index: 5;
}

.burger__menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: calc(100vw - 320px);
  z-index: 3;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.burger__wrapper {
  width: 32rem;
  height: 100vh;
  min-height: 82.3rem;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger__ul {
  height: 32.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s all;
  transition: .3s all;
  z-index: 2;
}

.burger__link {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 160%;
  color: #CDCDCD;
}

.burger__link_:hover {
  color: #FAFAFA;
}

.burger__link-active, .burger__link:active {
  color: #FAFAFA;
}

.unvisible {
  opacity: 0;
  left: 100%;
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 70.8rem;
  }
}

@media (max-width: 320px) {
  .wrapper {
    max-width: 30rem;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  padding-top: 18rem;
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 15rem;
  }
}

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .hero__img {
    width: 56.9rem;
    height: 59.3rem;
    margin-left: 14rem;
  }
}

@media (max-width: 320px) {
  .hero__img {
    width: 26rem;
    height: 27.2rem;
    margin-left: 4rem;
  }
}

.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 7.8rem;
  padding-right: 4.2rem;
}

@media (max-width: 768px) {
  .content-section {
    padding-right: 0;
    padding-bottom: 10rem;
  }
}

@media (max-width: 320px) {
  .content-section {
    padding-bottom: 10.5rem;
  }
}

.content-section__title {
  max-width: 31rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  color: #FFFFFF;
}

@media (max-width: 320px) {
  .content-section__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.15rem;
    text-align: center;
  }
}

.content-section__subtitle {
  max-width: 46rem;
  padding: 4.2rem 0 4.2rem;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

@media (max-width: 320px) {
  .content-section__subtitle {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .content-section__button {
    margin: 0 auto;
  }
}

.button {
  max-width: 20.688rem;
  padding: 1.5rem 4.5rem;
  border-radius: 6.28rem;
  background-color: #F1CDB3;
  cursor: pointer;
  font-family: Georgia;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
  color: #4C4C4C;
  max-height: 5.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button:hover {
  background-color: #FDDCC4;
}

.wrapper-section {
  padding: 8rem 0 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 320px) {
  .wrapper-section {
    padding: 4.2rem 0;
  }
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .about__wrapper {
    min-height: 86.8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  .about__wrapper {
    min-height: 89rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__img {
  padding-right: 12.1rem;
}

@media (max-width: 768px) {
  .about__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-right: 0;
    margin-top: 8rem;
  }
}

@media (max-width: 320px) {
  .about__img {
    height: 35.3rem;
    margin-top: 0rem;
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 38rem;
}

@media (max-width: 768px) {
  .about__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 320px) {
  .about__content {
    min-height: 49.4rem;
  }
}

.about__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.2rem;
  color: #545454;
  max-width: 37rem;
}

@media (max-width: 320px) {
  .about__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.15rem;
    margin-left: 0.5rem;
    text-align: center;
    width: 29rem;
  }
}

.about__info {
  max-width: 43rem;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
}

@media (max-width: 768px) {
  .about__info {
    max-width: 43rem;
  }
}

@media (max-width: 320px) {
  .about__info {
    text-align: justify;
    padding: 0 1.5rem;
  }
}

.pets {
  background: #F6F6F6;
}

.pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  min-height: 69.7rem;
}

.pets__title {
  max-width: 40rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.2rem;
  color: #545454;
  text-align: center;
}

@media (max-width: 768px) {
  .pets__title {
    margin-bottom: 6rem;
  }
}

@media (max-width: 320px) {
  .pets__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.15rem;
    margin: 0;
  }
}

.pets__title span {
  display: block;
}

.pets__slider {
  margin: 6rem 0 0 0;
}

@media (max-width: 768px) {
  .pets__slider {
    margin: 0;
  }
}

@media (max-width: 320px) {
  .pets__slider {
    min-height: 50.7rem;
    margin-top: 4.2rem;
  }
}

.pets__button {
  padding: 1.5rem 4.5rem;
  border-radius: 6.28rem;
  background-color: #F1CDB3;
  cursor: pointer;
  max-width: 26.1rem;
  max-height: 5.2rem;
  margin: 0 auto;
}

.pets__button:hover {
  background-color: #FDDCC4;
}

.pets__button-mt6 {
  margin-top: 6rem;
}

@media (max-width: 320px) {
  .pets__button-mt6 {
    margin-top: 4.2rem;
  }
}

.pets__link {
  font-family: Georgia;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
  color: #4C4C4C;
  max-height: 5.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  letter-spacing: 0.1rem;
}

.slider {
  width: inherit;
  position: relative;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 106.9rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .slider__wrapper {
    max-width: 60.4rem;
  }
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #F1CDB3;
  border-radius: 6.28rem;
  width: 5.2rem;
  height: 5.2rem;
  cursor: pointer;
}

.slider__control-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 320px) {
  .slider__control-arrow {
    top: 95%;
  }
}

.slider__control:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.slider__control-revers {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 320px) {
  .slider__control-left {
    left: 6rem;
  }
}

.slider__control-right {
  right: 0;
}

@media (max-width: 320px) {
  .slider__control-right {
    right: 6rem;
  }
}

.slider__control svg {
  fill: #292929;
  cursor: pointer;
}

.slider__control_inactive {
  border: 2px solid #CDCDCD;
}

.slider__control_inactive:hover {
  border: 2px solid #CDCDCD;
  background-color: inherit;
}

.slider__control_inactive svg {
  fill: #CDCDCD;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 6rem;
}

@media (max-width: 768px) {
  .slider__content {
    padding: 0px 4.4rem;
  }
}

@media (max-width: 320px) {
  .slider__content {
    padding: 0;
  }
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FAFAFA;
  border-radius: 0.9rem;
  margin: 0 4.5rem;
}

@media (max-width: 768px) {
  .list-item {
    margin: 0 2rem;
  }
}

@media (max-width: 320px) {
  .list-item {
    margin: 0 1.5rem;
  }
}

.list-item:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #FFFFFF;
}

.list-item__title {
  font-size: 2rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  line-height: 2.3rem;
  letter-spacing: 0.06rem;
  color: #545454;
  margin: 3rem 0;
}

.list-item__button {
  margin-bottom: 3rem;
  padding: 1.5rem 4.5rem;
  border-radius: 6.28rem;
  background-color: inherit;
  cursor: pointer;
  border: 0.2rem solid #F1CDB3;
}

.list-item__button:hover {
  background-color: #FDDCC4;
}

.list-item__button:hover {
  border: 0.2rem solid #FDDCC4;
}

.list-item__link {
  font-family: Georgia;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
  color: #4C4C4C;
  max-height: 5.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help__content {
  max-height: 43.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .help__content {
    max-height: 59.9rem;
  }
}

@media (max-width: 320px) {
  .help__content {
    max-height: 66.1rem;
  }
}

.help__header {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.2rem;
  max-width: 31.12rem;
  text-align: center;
}

@media (max-width: 320px) {
  .help__header {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.15rem;
    width: 25rem;
  }
}

.help__list {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .help__list {
    margin-bottom: -5.5rem;
  }
}

@media (max-width: 320px) {
  .help__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 2.7rem -1rem;
  }
}

.help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .help__item {
    width: 17rem;
  }
}

@media (max-width: 320px) {
  .help__item {
    width: 13rem;
    height: 8.7rem;
  }
}

.help__item:first-child {
  padding: 0 6rem 5.5rem 6rem;
}

@media (max-width: 768px) {
  .help__item:first-child {
    margin: 0 3rem 5.5rem 3rem;
    padding: 0;
  }
}

@media (max-width: 320px) {
  .help__item:first-child {
    margin: 1.5rem;
    padding: 0;
  }
}

.help__item + .help__item {
  padding: 0 6rem 5.5rem;
}

@media (max-width: 768px) {
  .help__item + .help__item {
    margin: 0 3rem 5.5rem 3rem;
    padding: 0;
  }
}

@media (max-width: 320px) {
  .help__item + .help__item {
    margin: 1.5rem;
    padding: 0;
  }
}

.help-item__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  margin-top: 3rem;
  color: #545454;
  white-space: nowrap;
}

@media (max-width: 320px) {
  .help-item__text {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.09rem;
    margin-top: 2rem;
  }
}

.help-item__image {
  height: 6rem;
  width: 6rem;
}

@media (max-width: 320px) {
  .help-item__image {
    height: 5rem;
    width: 5rem;
  }
}

.item__image-food {
  background: no-repeat 50% 50% url("../../assets/icons/help/pet-food.svg");
  background-size: 6rem 6rem;
}

@media (max-width: 320px) {
  .item__image-food {
    background-size: 5rem 5rem;
  }
}

.item__image-transp {
  background: no-repeat 50% 50% url("../../assets/icons/help/transportation.svg");
  background-size: 6rem 6rem;
}

@media (max-width: 320px) {
  .item__image-transp {
    background-size: 5rem 5rem;
  }
}

.item__image-toys {
  background: no-repeat 50% 50% url("../../assets/icons/help/toys.svg");
  background-size: 6rem 6rem;
}

@media (max-width: 320px) {
  .item__image-toys {
    background-size: 5rem 5rem;
  }
}

.item__image-bowl {
  background: no-repeat 50% 50% url("../../assets/icons/help/bowl.svg");
  background-size: 6rem 6rem;
}

@media (max-width: 320px) {
  .item__image-bowl {
    background-size: 5rem 5rem;
  }
}

.item__image-shamp {
  background: no-repeat 50% 50% url("../../assets/icons/help/shampoo.svg");
  background-size: 6rem 6rem;
}

@media (max-width: 320px) {
  .item__image-shamp {
    background-size: 5rem 5rem;
  }
}

.item__image-vitamins {
  background: no-repeat 50% 50% url("../../assets/icons/help/vitamins.svg");
  background-size: 6rem 6rem;
}

@media (max-width: 320px) {
  .item__image-vitamins {
    background-size: 5rem 5rem;
  }
}

.item__image-med {
  background: no-repeat 50% 50% url("../../assets/icons/help/medicines.svg");
  background-size: 6rem 6rem;
}

@media (max-width: 320px) {
  .item__image-med {
    background-size: 5rem 5rem;
  }
}

.item__image-collars {
  background: no-repeat 50% 50% url("../../assets/icons/help/collars.svg");
  background-size: 6rem 6rem;
}

@media (max-width: 320px) {
  .item__image-collars {
    background-size: 5rem 5rem;
  }
}

.item__image-area {
  background: no-repeat 50% 50% url("../../assets/icons/help/sleeping-area.svg");
  background-size: 6rem 6rem;
}

@media (max-width: 320px) {
  .item__image-area {
    background-size: 5rem 5rem;
  }
}

.donation {
  background-color: #F6F6F6;
}

.donation__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .donation__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.donation__image {
  padding: 1.1rem 3rem 1rem 0;
}

@media (max-width: 768px) {
  .donation__image {
    padding: 6rem 0 0 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 320px) {
  .donation__image {
    padding: 4.2rem 0 0 0;
  }
}

@media (max-width: 320px) {
  .donation__image-dog {
    width: 26rem;
    height: 13.4rem;
  }
}

.donation__info {
  max-width: 38rem;
}

@media (max-width: 768px) {
  .donation__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.donation__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.2rem;
  max-width: 30rem;
}

@media (max-width: 320px) {
  .donation__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.15rem;
    text-align: center;
  }
}

.donation__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
  margin: 2rem 0 2.1rem 0;
  color: #545454;
}

@media (max-width: 320px) {
  .donation__text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 160%;
    letter-spacing: 0;
    text-align: center;
  }
}

.donation__card {
  padding: 1rem 1.5rem;
  border-radius: 0.9rem;
  background-color: #F1CDB3;
  max-width: 34.9rem;
  max-height: 4.3rem;
}

@media (max-width: 320px) {
  .donation__card {
    max-width: 28.1rem;
    margin: 0 auto;
  }
}

.donation__card:hover {
  color: #4C4C4C;
  background-color: #FDDCC4;
}

.donation__card .card__logo {
  background: no-repeat 50% 50% url("../../assets/icons/credit-card.svg");
  background-size: 3rem 3rem;
  width: 3rem;
  height: 3rem;
  margin-right: 1.8rem;
}

.donation__card .card__num {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #545454;
  white-space: nowrap;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 320px) {
  .donation__card .card__num {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.09rem;
  }
}

.donation__card .card__num:before {
  content: url("../../assets/icons/credit-card.svg");
  background-position: center;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.3rem;
  margin-right: 1rem;
}

.donation__card .card__num:hover {
  color: #4C4C4C;
  background-color: #FDDCC4;
}

.donation__description {
  margin-top: 2rem;
  font-family: Arial;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 150%;
  color: #B2B2B2;
}

@media (max-width: 320px) {
  .donation__description {
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
}

.footer-background {
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.wrapper-footer {
  padding-top: 4rem;
}

@media (max-width: 768px) {
  .wrapper-footer {
    padding-top: 0rem;
  }
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 60.9rem;
  }
}

@media (max-width: 768px) {
  .footer-content__info + .footer-content__info {
    margin-left: 6rem;
  }
}

@media (max-width: 320px) {
  .footer-content__info + .footer-content__info {
    margin: 0;
  }
}

.footer-content__info {
  padding: 1.6rem 0 6rem 0;
}

@media (max-width: 768px) {
  .footer-content__info {
    padding: 3.1rem 0 0rem 0;
    min-height: 26.4rem;
  }
}

@media (max-width: 320px) {
  .footer-content__info {
    margin-bottom: 1rem;
  }
}

.footer-content__info-contact {
  max-width: 27.9rem;
}

.footer-content__info-location {
  max-width: 30.2rem;
}

.footer-content__image {
  width: 30rem;
  height: 31rem;
}

@media (max-width: 768px) {
  .footer-content__image {
    margin-top: 6.5rem;
  }
}

@media (max-width: 320px) {
  .footer-content__image {
    margin-top: 9.2rem;
    width: 26rem;
    height: 26.9rem;
  }
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.2rem;
  color: #FFFFFF;
}

@media (max-width: 320px) {
  .footer-info__title {
    text-align: center;
  }
}

.footer-info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F1CDB3;
  font-size: 2rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
  white-space: normal;
}

.footer-info__link:before {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 2rem;
}

.footer-info__link-email:before {
  content: url("../../assets/icons/mail.svg");
  width: 4rem;
  height: 2.6rem;
}

.footer-info__link-phone:before {
  content: url("../../assets/icons/telephone.svg");
  width: 4rem;
  height: 3.2rem;
}

.footer-info__link-pin:before {
  content: url("../../assets/icons/pin.svg");
  width: 2.2rem;
  height: 3.2rem;
}

.footer-info__link:hover {
  color: #FDDCC4;
}

.footer-info__link svg {
  margin-right: 1.28rem;
}

.header-dark {
  position: relative;
  top: 0;
}

.header__content-p30 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title-dark {
  color: #545454;
}

.header__subtitle-dark {
  color: #292929;
}

.header__logo {
  cursor: pointer;
}

.list__item-dark .list__link-dark {
  color: #545454;
}

.list__item-dark .list__link-dark:hover {
  color: #292929;
}

.list-dark .list__item-dark-selected {
  border-bottom: 3px solid #F1CDB3;
}

.list__item-dark:hover .list__link-dark {
  color: #292929;
}

.paging-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paging-list__wrapper {
  position: relative;
  height: 93rem;
  width: 120rem;
  max-height: 93rem;
  overflow: hidden;
}

@media (max-width: 1279px) {
  .paging-list__wrapper {
    max-height: 136.5rem;
    height: 136.5rem;
    width: 58rem;
  }
}

@media (max-width: 767px) {
  .paging-list__wrapper {
    width: 27rem;
  }
}

.paging-list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 93rem;
  margin: -1.5rem -2rem 0;
}

@media (max-width: 320px) {
  .paging-list__content {
    margin: -1.5rem -2rem 0;
  }
}

.paging-list__item {
  margin: 1.5rem 2rem;
}

.paging-list__menu {
  min-width: 34rem;
}

@media (max-width: 768px) {
  .pets__content {
    padding-top: 2rem;
  }
}

@media (max-width: 320px) {
  .pets__content {
    padding-top: 0rem;
  }
}

@media (max-width: 768px) {
  .pets__title {
    margin-bottom: 3rem;
  }
}

@media (max-width: 320px) {
  .pets__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.15rem;
    margin: 0;
  }
}

.pets__slider {
  margin: 6rem 0 0 0;
}

@media (max-width: 768px) {
  .pets__slider {
    margin: 0;
  }
}

@media (max-width: 320px) {
  .pets__slider {
    margin-top: 4.2rem;
  }
}

@media (max-width: 768px) {
  .slider {
    max-width: 58rem;
  }
}

@media (max-width: 320px) {
  .slider {
    max-width: 27rem;
  }
}

.slider__page-num {
  position: relative;
  background-color: #F1CDB3;
}

.slider__page-num:hover {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
}

@media (max-width: 768px) {
  .slider__content {
    padding: 0 5.7rem;
  }
}

.paging-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .paging-menu {
    margin: 4rem 0 0.6rem 0;
  }
}

@media (max-width: 320px) {
  .paging-menu {
    margin: 4.2rem 0 12px 0;
    min-width: 30rem;
  }
}

.paging-menu__item {
  position: relative;
}

.paging-menu__item > .slider__control-revers {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper-section {
  padding: 8rem 0 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .wrapper-section {
    padding: 6rem 0 7rem;
  }
}

@media (max-width: 320px) {
  .wrapper-section {
    padding: 4.2rem 0 3rem;
  }
}

.header__burger {
  top: 4.5rem;
  right: 5rem;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100%;
  background: rgba(41, 41, 41, 0.6);
  overflow: hidden;
  position: fixed;
  top: 0px;
  display: none;
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-width: 68.2rem;
  max-height: 40.2rem;
  position: relative;
}

.popup__close {
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  position: absolute;
  left: 62.1rem;
  top: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__img {
  width: 35rem;
  height: 35rem;
}

.popup__img > img {
  width: 35rem;
  height: 35rem;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63rem;
  height: 35rem;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #FAFAFA;
  border-radius: 9px;
  margin-top: 5.2rem;
}

.popup__info {
  padding: 1rem 0.9rem 0 1.1rem;
  height: 100%;
}

.popup-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pet-info__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.pet-info__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  margin-bottom: 2rem;
}

.pet-info__description {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.06rem;
  margin-bottom: 2rem;
}

.pet-info__info_list > li {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06rem;
  margin-bottom: 0.5rem;
}

.pet-info__info_list > li > p {
  font-weight: 700;
  display: inline;
}

.pet-info__info_list > li:before {
  color: #F1CDB3;
  content: '\2022';
  padding-right: 1rem;
}

.scroll-hidden {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */