@import "../main/main.sass"


.header-dark
    position: relative
    top: 0

    
.header
    &__content-p30
        padding: 3rem 0 3.1rem 0
    &__title-dark
        color: $color-dark-l
    &__subtitle-dark
        color: $color-dark-3xl


.list__item-dark
    .list__link-dark
        color: $color-dark-l
        &:hover
            color: $color-dark-3xl

.list-dark
    .list__item-dark-selected
        border-bottom: 3px solid $color-primary

.list__item-dark:hover
    .list__link-dark
        color: $color-dark-3xl

.paging-list
    +flex-direction(column)
    &__wrapper
        max-height: 93rem
        @media(max-width: $medium)
            max-height: 136.5rem
        overflow: hidden
    &__content
        +flex-justify(start)
        flex-wrap: wrap
        min-height: 93rem
        margin: -1.5rem -2rem 0
        @media(max-width: $small)
              margin: -1.5rem 0 0
    &__item
        margin: 1.5rem 2rem
    &__menu
        min-width: 34rem

.paging-menu
    +flex-direction-algin-justify(row, center, space-between)
    margin-top: 3rem
    @media(max-width: $medium)
        margin: 4rem 0 0.6rem 0
    @media(max-width: $small)
        margin: 4.2rem 0 12px 0;
        min-width: 30rem

.list-item + .list-item
    //margin: 0 2rem 3rem 2rem

.list-item:first-child
    //margin: 0 2rem 3rem 0

 