@import "../main/main.sass"


.header-dark
    position: relative
    top: 0

    
.header
    &__content-p30
        @media(max-width: $standart)
            padding: 3rem 0
        @media(max-width: $medium)
              padding: 3rem 0 3.1rem 0
    &__title-dark
        color: $color-dark-l
    &__subtitle-dark
        color: $color-dark-3xl


.list__item-dark
    .list__link-dark
        color: $color-dark-l
        &:hover
            color: $color-dark-3xl

.list-dark
    .list__item-dark-selected
        border-bottom: 3px solid $color-primary

.list__item-dark:hover
    .list__link-dark
        color: $color-dark-3xl

.paging-list
    +flex-direction(column)
    &__wrapper
        @media(max-width: $standart)
            max-height: 93rem
        @media(max-width: $medium)
            max-height: 136.5rem
        overflow: hidden
    &__content
        +flex-justify(start)
        flex-wrap: wrap
        min-height: 93rem
        @media(max-width: $standart)
            margin: -1.5rem -2rem 0
        @media(max-width: $medium)
            margin: -3.4rem -2rem 0
    &__item
        margin: 1.5rem 2rem
    &__menu
        min-width: 34rem

.paging-menu
    +flex-direction-algin-justify(row, center, space-between)
    @media(max-width: $standart)
        margin-top: 3rem
    @media(max-width: $medium)
        margin-top: 2.1rem
        margin-bottom: 0.6rem

.list-item + .list-item
    //margin: 0 2rem 3rem 2rem

.list-item:first-child
    //margin: 0 2rem 3rem 0

.pets__slider
    @media(max-width: $standart)
        margin: 0 auto
    @media(max-width: $medium)
        margin: 0 auto
        padding-top: 6rem