*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}


.root {
	display: inline-block;
	vertical-align: middle;
	border-top: 2px solid;
	border-left: 2px solid;
	transform: skew(-15deg);
	transform-origin: bottom left;
	margin: 0 10px;
	position: relative;
}

.root:before {
	content: "";
	position: absolute;
	bottom: 0;
	height: 40%;
	width: 9px;
	left: -11px;
	border-top: 2px solid;
	border-right: 2px solid;
	transform: skew(30deg);
	transform-origin: bottom right;
}

.sqr{
  font-size: 1.2rem;
  font-weight: bold;
}