html {
  font-size: 10px;
}

body {
  font-family: Georgia;
  width: 100vw;
}

.header {
  width: 100vw;
  position: absolute;
  top: 60px;
}

.header__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.2rem;
  color: #F1CDB3;
}

.header__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
  color: #FFFFFF;
  margin-top: 1rem;
  text-align: center;
}

.header__menu {
  width: 44.3rem;
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list__item .list__link {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

.list__item-selected {
  border-bottom: 3px solid #F1CDB3;
}

.list__item-selected .list__link {
  color: #FAFAFA;
}

.list__item:hover .list__link {
  color: #FAFAFA;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  padding-top: 18rem;
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 7.8rem;
  padding-right: 4.2rem;
}

.content-section__title {
  max-width: 31rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  color: #FFFFFF;
}

.content-section__subtitle {
  max-width: 46rem;
  padding: 4.2rem 0 4.1rem;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

.button {
  max-width: 20.688rem;
  padding: 1.5rem 4.5rem;
  border-radius: 6.28rem;
  background-color: #F1CDB3;
  cursor: pointer;
  font-family: Georgia;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
  color: #4C4C4C;
  max-height: 5.2rem;
}

.button:hover {
  background-color: #FDDCC4;
}

.wrapper-section {
  padding: 8rem 0 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img {
  padding-right: 12.1rem;
}

.about__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.2rem;
  color: #545454;
  max-width: 37rem;
}

.about__info {
  max-width: 43rem;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
}

.about__info p:first-child {
  padding: 2.5rem 0;
}

.pets {
  background: #F6F6F6;
}

.pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
  min-height: 69.7rem;
}

.pets__title {
  max-width: 40rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.2rem;
  color: #545454;
  text-align: center;
  margin: 0 auto;
}

.pets__title span {
  display: block;
}

.pets__slider {
  margin: 6rem 0;
}

.pets__button {
  padding: 1.5rem 4.5rem;
  border-radius: 6.28rem;
  background-color: #F1CDB3;
  cursor: pointer;
  max-width: 26.1rem;
  max-height: 5.2rem;
  margin: 0 auto;
}

.pets__button:hover {
  background-color: #FDDCC4;
}

.pets__link {
  font-family: Georgia;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
  color: #4C4C4C;
  max-height: 5.2rem;
  white-space: nowrap;
  letter-spacing: 0.1rem;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #F1CDB3;
  border-radius: 6.28rem;
  width: 5.2rem;
  height: 5.2rem;
  cursor: pointer;
}

.slider__control:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.slider__control-revers {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider__control svg {
  fill: #292929;
  cursor: pointer;
}

.slider__control_inactive {
  border: 2px solid #CDCDCD;
}

.slider__control_inactive:hover {
  border: 2px solid #CDCDCD;
  background-color: inherit;
}

.slider__control_inactive svg {
  fill: #CDCDCD;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 5.7rem;
}

.slider__page-num {
  background-color: #F1CDB3;
}

.slider__page-num:hover {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FAFAFA;
  border-radius: 0.9rem;
}

.list-item:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #FFFFFF;
}

.list-item__title {
  font-size: 2rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  line-height: 2.3rem;
  letter-spacing: 0.06rem;
  color: #545454;
  margin: 3rem 0;
}

.list-item__button {
  margin-bottom: 3rem;
  padding: 1.5rem 4.5rem;
  border-radius: 6.28rem;
  background-color: inherit;
  cursor: pointer;
  border: 0.2rem solid #F1CDB3;
}

.list-item__button:hover {
  background-color: #FDDCC4;
}

.list-item__button:hover {
  border: 0.2rem solid #FDDCC4;
}

.list-item__link {
  font-family: Georgia;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
  color: #4C4C4C;
  max-height: 5.2rem;
}

.help__content {
  max-height: 43.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__header {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.2rem;
  max-width: 31.12rem;
  text-align: center;
}

.help__list {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__item:first-child {
  padding: 0 6rem 5.5rem 6rem;
}

.help__item + .help__item {
  padding: 0 6rem 5.5rem;
}

.help-item__text {
  margin-top: 3rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #545454;
  white-space: nowrap;
}

.help-item__image {
  height: 6rem;
  width: 6rem;
}

.item__image-food {
  background: no-repeat 50% 50% url("../../assets/icons/help/pet-food.svg");
  background-size: 6rem 6rem;
}

.item__image-transp {
  background: no-repeat 50% 50% url("../../assets/icons/help/transportation.svg");
  background-size: 6rem 6rem;
}

.item__image-toys {
  background: no-repeat 50% 50% url("../../assets/icons/help/toys.svg");
  background-size: 6rem 6rem;
}

.item__image-bowl {
  background: no-repeat 50% 50% url("../../assets/icons/help/bowl.svg");
  background-size: 6rem 6rem;
}

.item__image-shamp {
  background: no-repeat 50% 50% url("../../assets/icons/help/shampoo.svg");
  background-size: 6rem 6rem;
}

.item__image-vitamins {
  background: no-repeat 50% 50% url("../../assets/icons/help/vitamins.svg");
  background-size: 6rem 6rem;
}

.item__image-med {
  background: no-repeat 50% 50% url("../../assets/icons/help/medicines.svg");
  background-size: 6rem 6rem;
}

.item__image-collars {
  background: no-repeat 50% 50% url("../../assets/icons/help/collars.svg");
  background-size: 6rem 6rem;
}

.item__image-area {
  background: no-repeat 50% 50% url("../../assets/icons/help/sleeping-area.svg");
  background-size: 6rem 6rem;
}

.donation {
  background-color: #F6F6F6;
}

.donation__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 28.4rem;
}

.donation__image {
  padding: 1.2rem 3rem 0 0;
}

.donation__info {
  max-width: 38rem;
}

.donation__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.2rem;
  max-width: 30rem;
}

.donation__text {
  margin: 2.2rem 0 2rem 0;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
  color: #545454;
}

.donation__card {
  padding: 1rem 1.5rem;
  border-radius: 0.9rem;
  background-color: #F1CDB3;
  max-width: 34.9rem;
  max-height: 4.3rem;
}

.donation__card:hover {
  color: #4C4C4C;
  background-color: #FDDCC4;
}

.donation__card .card__logo {
  background: no-repeat 50% 50% url("../../assets/icons/credit-card.svg");
  background-size: 3rem 3rem;
  width: 3rem;
  height: 3rem;
  margin-right: 1.8rem;
}

.donation__card .card__num {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #545454;
  white-space: nowrap;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation__card .card__num:before {
  content: url("../../assets/icons/credit-card.svg");
  background-position: center;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.3rem;
  margin-right: 1rem;
}

.donation__card .card__num:hover {
  color: #4C4C4C;
  background-color: #FDDCC4;
}

.donation__description {
  margin-top: 2.1rem;
  font-family: Arial;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 150%;
  color: #B2B2B2;
}

.footer-background {
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.wrapper-footer {
  padding-top: 4rem;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer-content__info {
  padding: 1.6rem 0 6rem 0;
}

.footer-content__info-contact {
  max-width: 27.9rem;
}

.footer-content__info-location {
  max-width: 30.2rem;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.2rem;
  color: #FFFFFF;
}

.footer-info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F1CDB3;
  font-size: 2rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
  white-space: normal;
}

.footer-info__link:before {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 2rem;
}

.footer-info__link-email:before {
  content: url("../../assets/icons/mail.svg");
  width: 4rem;
  height: 2.6rem;
}

.footer-info__link-phone:before {
  content: url("../../assets/icons/telephone.svg");
  width: 4rem;
  height: 3.2rem;
}

.footer-info__link-pin:before {
  content: url("../../assets/icons/pin.svg");
  width: 2.2rem;
  height: 3.2rem;
}

.footer-info__link:hover {
  color: #FDDCC4;
}

.footer-info__link svg {
  margin-right: 1.28rem;
}
/*# sourceMappingURL=main.css.map */