@import '../var.sass'

html 
    font-size: 10px

// body
//     background: url('./assets/noise_transparent.png'), radial-gradient(100% 215.42% at 0% 0%, #f0f0f0 0%, #fdb0d7 100%), #ecfc13f8

.app
    height: 200px
    widows: 200px
    background-color: $color-light-s