@import '../var.sass'

html 
    font-size: 10px

body
    background-color: $body-background

.app
    height: 200px
    widows: 200px
    background-color: $color-light-s


.section-inactive
    display: none