*
    padding: 0
    // margin: 0
    border: 0

*, *:before, *:after
    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box

// :focus, :active 
//     outline: none
a:focus, a:active 
    outline: none

nav,  footer,  header,  aside
    display: block

html, body
    height: 100%
    width: 100%
    font-size: 100%
    line-height: 1
    font-size: 16px
    -ms-text-size-adjust: 100%
    -moz-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%

input, button, textarea
    font-family: inherit

input::-ms-clear
    display: none

button
    cursor: pointer

button::-moz-focus-inner
    padding: 0
    border: 0

a, a:visited
    text-decoration: none

a:hover
    text-decoration: none

ul li
    list-style: none

img
    vertical-align: top

h1, h2, h3, h4,h5,h6 
    font-size: inherit
    font-weight: 400

html 
    font-size: 10px

body
    font: 
        family: 'Quicksand', sans-serif;
        style: normal
        weight: normal    
        size: 2rem
    margin: 0
 

.momentum
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    height: 100vh
    color: black
    &-white
        color: white
        svg
            fill: white
    &__time
        font-size: 8rem
        display: flex
        flex-direction: row
        @media( max-width: 700px)
            font-size: 4rem
        p, span
            display: block
    &__title
        margin-bottom: 3rem
    &__what_focus, &__focus
        margin-bottom: 0.5rem
        opacity: 0.7
    &__reload, &__phrase
        cursor: pointer
        opacity: 0.7
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        > svg
            margin-right: 1rem
    &__reload
        bottom: 2rem
        left: 2rem
    &__phrase
        bottom: 2rem
        right: 2rem
        span
            margin-right: 1rem


        
            

svg
    fill: white
    cursor: pointer
    opacity: 0.7
    fill: black

.animate
    transition: all 0.8s
.rotate
    transform: rotate(360deg)

