* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  font-size: 10px;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Arial;
}

.puzzle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.puzzle__wrapper {
  width: 60vw;
  background-color: #00c3b3;
  margin: 0.4rem;
  border-radius: 10px;
}

@media (max-width: 501) {
  .puzzle__wrapper {
    width: 100vw;
  }
}

.puzzle__info, .puzzle__footer {
  padding: 0 0.8rem;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: 900;
  line-height: 10vh;
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #00c3b3;
  border-radius: 10px;
}

@media (max-width: 501) {
  .puzzle__info, .puzzle__footer {
    width: 100vw;
  }
}

.puzzle__field {
  display: -ms-grid;
  display: grid;
  grid-gap: 2px;
  max-width: 400px;
  margin: 0 auto;
  grid-auto-rows: 1fr;
  padding: 0.4rem;
  z-index: 1;
}

.puzzle__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 4rem;
          flex: 1 1 4rem;
}

.puzzle__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 4rem;
          flex: 1 1 4rem;
  color: white;
  background-color: #353535;
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  cursor: pointer;
}

.info__time, .info__moves, .info__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.info__menu {
  cursor: pointer;
}

.puzzle__field::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.puzzle__field > *:first-child {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.puzzle__col .col {
  height: 90%;
  width: 90%;
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #353535;
}

.puzzle__col:hover {
  background: #3f5efb;
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  -webkit-animation: puzzle__col 50s linear infinite;
          animation: puzzle__col 50s linear infinite;
}

.puzzle__col-null:hover {
  background-color: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

[data-numb="0"], .puzzle__col-null {
  background-color: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  color: #00c3b3;
  cursor: inherit;
}

[data-numb="0"] > .col, .puzzle__col-null > .col {
  background-color: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  color: inherit;
  cursor: inherit;
}

[data-numb="0"] > .col:hover, .puzzle__col-null > .col:hover {
  background-color: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  -webkit-animation: none;
          animation: none;
}

[data-numb="0"]:hover, .puzzle__col-null:hover {
  background: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

.drag {
  position: absolute;
  z-index: 1000;
}

[data-cells-count="9"] {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

[data-cells-count="16"] {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

[data-cells-count="25"] {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

[data-cells-count="36"] {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

[data-cells-count="49"] {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

[data-cells-count="64"] {
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.transition {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.menu {
  display: none;
  position: absolute;
  width: 60vw;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 10;
  background: rgba(41, 41, 41, 0.6);
  overflow: hidden;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10vh 0;
}

.menu-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu__list {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__item {
  font-weight: 900;
  font-size: 3rem;
  line-height: 50px;
  color: #FAFAFA;
  cursor: pointer;
}

.menu__item:hover {
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

.menu__saveGame, .menu__newGame {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu__saveGame h2, .menu__newGame h2 {
  font-size: 4rem;
  font-weight: 900;
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

.menu__back {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.menu__back:hover {
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

.position-relative {
  position: relative;
}

.hidden {
  position: absolute;
  margin-top: -1000vh;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

@-webkit-keyframes puzzle__col {
  to {
    background-position: 0 -1000vh;
  }
}

@keyframes puzzle__col {
  to {
    background-position: 0 -1000vh;
  }
}

@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

[data-action="menu"]:hover {
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

.load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.load__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.load__games {
  margin: 2rem 0;
}

.load__back {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.load__back:hover {
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

.load__title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.load__subtitle {
  font-size: 2.5rem;
  font-weight: 900;
}

.load__btb {
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 900;
}

.load__btb:hover {
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

.load__btb-disabled {
  background: radial-gradient(circle, gray 0%, gray 100%);
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.load__btb-disabled:hover {
  background: radial-gradient(circle, gray 0%, gray 100%);
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game {
  --font: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__prev, .game__next {
  height: 4rem;
  width: 4rem;
}

.game__prev::before, .game__next::before {
  position: absolute;
  z-index: -1;
  left: 0;
  content: '';
  background: white;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18px" height="18px"> <path d="M8 5v14l11-7z"/></svg>') center/contain;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18px" height="18px"> <path d="M8 5v14l11-7z"/></svg>') center/contain;
  height: calc(var(--font) * 2);
  width: calc(var(--font) * 2);
  cursor: pointer;
}

.game__prev {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.game__next {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.game__prev:hover::before, .game__next:hover::before {
  background: -webkit-gradient(linear, left top, right top, from(#3f5efb), to(#fc466b)) left/200% 100%;
  background: linear-gradient(to right, #3f5efb, #fc466b) left/200% 100%;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

.game__prev-inactive::before, .game__next-inactive::before {
  background: gray;
}

.game__prev-inactive:hover::before, .game__next-inactive:hover::before {
  background: gray;
}

.game__list {
  position: relative;
}

.game__item {
  --font: 2rem;
  --size: 200%;
  font-size: var(--font);
  line-height: var(--size);
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -100vh;
}

.game__item-active {
  top: 0;
  position: inherit;
}

.game__item-active:hover, .game__item-active-active {
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

.item + .item {
  margin-left: 1rem;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings__title {
  font-size: 4rem;
  font-weight: 900;
}

.settings__sizes {
  margin-bottom: 2rem;
}

.settings__sizes, .settings__type {
  font-size: 2.5rem;
  font-weight: 700;
}

.settings__sizes select, .settings__type select {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 2rem;
  background: inherit;
  color: white;
}

.settings__sizes selectselect::-ms-expand, .settings__type selectselect::-ms-expand {
  background: inherit;
  color: white;
}

.settings__sizes select option, .settings__type select option {
  background: #2e2e2e;
  color: white;
}

.rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rules__title {
  font-size: 4rem;
  font-weight: 900;
}

.rules__info {
  font-size: 2rem;
  min-width: 25rem;
  max-width: 50rem;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.score__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score__title {
  font-size: 4rem;
  font-weight: 900;
}

.score__info {
  font-size: 2rem;
  max-width: 25vw;
}

.score__table {
  margin-top: 2rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  padding: 2rem;
  max-height: 30rem;
  overflow: auto;
}

@media screen and (max-width: 501) {
  .score__table {
    max-height: 20rem;
  }
}

.score__row + .score__row {
  margin-top: 2rem;
}

@media screen and (max-width: 501) {
  .score__row + .score__row {
    margin-top: 0.5rem;
  }
}

.score__col + .score__col {
  margin-left: 2rem;
}

@media screen and (max-width: 501) {
  .score__col + .score__col {
    margin-left: 0.5rem;
  }
}

.score__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.score__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 10rem;
  text-align: center;
}

.score__col:nth-child(1) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score__col:nth-child(2) {
  font-weight: 700;
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
}

.popup {
  position: fixed;
  top: -1000vh;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 2rem;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.popup-visilbe {
  top: 0px;
  left: 0;
  position: fixed;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: show;
          animation-name: show;
}

.popup__content h1 {
  font-size: 4rem;
  font-weight: 900;
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
  margin-bottom: 1rem;
}

.popup__content h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.popup__close {
  cursor: pointer;
}

.popup .hidding {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: hide;
          animation-name: hide;
}

@-webkit-keyframes show {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes hide {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes hide {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */