@import  '../../var.sass'

$card-transition-time: 0.5s

.game
    +main-block
    +flex
    position: relative
    &__cards
        +flex
        width: inherit
        padding: 2rem
.cards
    &__wrapper
        +flex
        width: inherit
        padding: 2rem
    &__content
        +flex
        flex-wrap: wrap
