@import  '../../var.sass'

$card-transition-time: 0.5s

.game
    +main-block
    +flex
    position: relative
    padding-top: 5rem
    &__cards
        +flex
        width: inherit
        //padding: 2rem
.cards
    &__wrapper
        +flex
        width: inherit
        //padding: 2rem
        padding-top: 2rem
    &__content
        +flex-algin-justify(center, space-between)
        flex-wrap: wrap
