{
    "presets": ["@babel/preset-env"],
    "plugins": [
      "@babel/plugin-transform-runtime",
      "@babel/proposal-class-properties",
       ["module-resolver", {
        "root": ["./src"]
      }]
    ]
  }